:root {
  --orange: #fb7900;
  --dark-blue: #0f1f40;
  --dark-gray: #757991;
  --gray: #ccd0da;
  --white: #fff;

  --font-title: "Montserrat", sans-serif;
  --font-text: "Smooch Sans", sans-serif;
}
