.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 0;

  background-color: var(--dark-blue);

  strong {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    font-family: var(--font-title);
    color: var(--white);

    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1.5rem 1rem;
    background-color: var(--white);

    border-radius: 1rem;
    width: 90%;

    p {
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      width: 100%;

      text-align: center;
      margin-bottom: 1.5rem;
    }

    input,
    textarea {
      border: 1px solid var(--orange);
      border-radius: 4px;

      padding: 0.75rem 0.5rem;
      width: 100%;

      font-size: 14px;
      line-height: 14px;
      font-weight: 400;

      display: flex;
      align-items: center;

      &::placeholder {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
      }

      margin-bottom: 0.5rem;
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }

    input[type="submit"] {
      margin-top: 1.5rem;
      background-color: var(--orange);
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: var(--font-text);
      color: var(--white);

      cursor: pointer;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin: 2rem 0 0.5rem;

      p {
        text-align: left;
        margin-bottom: 0.5rem;

        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        display: flex;
        align-items: center;

        a {
          margin-left: 0.25rem;
        }
      }
    }
  }
}
