.hero {
  height: 100vh;
  width: 100%;

  position: relative;

  header {
    background-color: var(--dark-blue);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 1000;

    width: 100%;
    height: 72px;

    padding: 0 1rem;

    .logo {
      height: 100%;
      width: 160px;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    nav {
      width: 28px;
      height: 28px;
      background-color: #fff;

      // display: none;
      ul {
        list-style: none;
        display: none;

        li {
          margin: 0 1rem;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;

    height: 100vh;
    width: 100%;

    .text-content {
      height: 55%;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      background-color: var(--dark-blue);
      color: var(--white);

      padding-top: 3rem;
    }

    .decor {
      height: 45%;
      background-color: #fff;

      display: flex;
      align-items: center;

      overflow: hidden;
      position: relative;

      .hero-bg {
        // filter: blur(2px);

        transform: scale(1);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        // filter: blur(2px);

        position: relative;

        .inner-container {
          height: 100%;
          width: 110vw;

          display: flex;
          justify-content: center;
          align-items: center;

          background: black;

          &:before {
            content: "";
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.63),
                rgba(0, 0, 0, 0.623)
              ),
              url("../../images/hero-background.jpg");
            position: fixed;
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            filter: blur(5px);
            margin: -10px;
          }

          // img {
          //   // filter: blur(2px);

          //   transform: scale(1.1);

          //   height: 110%;
          //   width: 400px;
          // }
        }
      }

      .margay {
        position: absolute;
        z-index: 10;
      }
    }

    .lang-selection {
      position: absolute;
    }
  }
}
