.member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: var(--font-title);

  margin-bottom: 2rem;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 160px;
    height: 160px;

    svg {
      height: 132px;
      width: 132px;
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../../images/rope-circle.png");
      background-position: center;
      background-size: cover;
    }
  }

  .group {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.5rem;

    strong {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin-left: 0.5rem;
        svg {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  p {
    margin-top: 0.5rem;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
}
