.member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: var(--font-title);

  margin-bottom: 2rem;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 12rem;
    height: 12rem;

    svg {
      width: 158px;
      height: 158px;
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../../images/rope-circle.png");
      background-position: center;
      background-size: cover;
    }
  }

  .group {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.5rem;

    strong {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;

        margin-left: 0.5rem;

        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  p {
    margin-top: 0.5rem;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--orange);
  }
}
