.process {
  background-color: var(--dark-blue);
  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;

  h2 {
    margin-top: 2rem;
  }

  .step {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    .number {
      min-width: 84px;

      font-size: 144px;
      // line-height: 92px;
      font-family: var(--font-title);
      font-weight: 600;
      color: var(--gray);

      margin-right: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      strong {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        font-family: var(--font-text);
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        color: var(--gray);
      }

      p {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        font-family: var(--font-text);
        text-transform: uppercase;
        color: var(--dark-gray);
      }
    }
  }
}
