.team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 4rem;
  position: relative;

  height: 100%;

  .background {
    height: 100%;
    width: 100%;

    overflow: hidden;

    position: absolute;
    // top: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      // top: 0;
      left: -40rem;
      fill: var(--light-gray);
      height: 100%;
      // width: 100%;
    }
  }
}
